body {
  background: theme("colors.gray.100");
  font-family: theme("fontFamily.mainRegular");
}

.checked .select-check-icon {
  display: block;
}

.css-1xc3v61-indicatorContainer,
.css-15lsz6c-indicatorContainer {
  padding: 8px 8px 8px 0px !important;
}
.Toastify__toast {
  box-shadow: none !important;
  border-radius: 8px;
  min-height: 40px;
  max-height: 40px;
  padding: 0px 12px 0px 12px !important;
  margin-bottom: 0px !important;
}
.Toastify__toast-container {
  position: relative;
  padding: 0;
  margin: 0;
  width: 100%;
  top: 0rem;
  right: 0rem;
  margin-top: 16px;
  margin-bottom: 0px;
}

.Toastify__toast--success {
  background: theme("colors.success-16");
  border: 1px solid theme("colors.success");
}
.Toastify__toast--error {
  background: theme("colors.error-16");
  border: 1px solid theme("colors.error");
}

.test {
  display: block;
}

